:root {
  --primary: #1E2A38;
  --accent: #E3B23C;
  --text-light: #f8f9fa;
}

.custom-navbar {
  background-color: var(--primary);
  padding: 0.6rem 0;
  margin:0 12px;
}

.navbar-inner {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.navbar-brand {
  color: var(--accent) !important;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 4px;
}

.brand-icon {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.nav-link {
  color: var(--text-light) !important;
  font-size: 0.95rem;
  margin-left: 1rem;
}

.nav-link:hover {
  color: var(--accent) !important;
}

.desktop-end {
  justify-content: end !important;
}

/* ---------- HAMBURGER ---------- */
.navbar-toggler {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* ---------- MOBILE FIX ---------- */
@media (max-width: 768px) {

  /* mobile menu background */
  .navbar-collapse {
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 0 0 10px 10px;
  }

  /* show links left aligned */
  .navbar-nav {
    align-items: flex-start !important;
    width: 100%;
    padding-left: 0.5rem;
  }

  /* fix center issue */
  .nav-link {
    margin-left: 0 !important;
    padding: 0.4rem 0;
    width: 100%;
    text-align: left !important;
  }

  /* hamburger and logo stacked correctly */
  .desktop-end {
    justify-content: flex-start !important;
  }
}
